.manage-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border: 1px solid #940909;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
.manage-item-img img{
    width: 100%;
}
.manage-item-btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

@media (max-width: 600px){
    .manage-item-content h2{
        font-size: 14px;
    }
    .manage-item-content p{
        font-size: 12px;
    }
}