.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 30px;
    align-items: center;
}
.about-img img{
    width: 100%;

}
.about-content h2{
    font-size: 30px;
    font-weight: 800;
    color: #940909;
    margin-bottom: 20px;
}
.about-content p{
    font-size: 18px;
    margin-top: 5px;
}
.about-info{
    margin-top: 30px;
}
.about-info h5{
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 800px){
    .about{
        grid-template-columns: 1fr;
    }
}