.not-found h1{
    font-size: 200px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}
.not-found h2{
    font-size: 80px;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    .not-found h1{
        font-size: 100px;
    }
    .not-found h2{
        font-size: 40px;
    }
}